#site_center {text-align:center;}
#main {width:expression(((document.documentElement.clientWidth || document.body.clientWidth) < 1024)? "1024px" : "100%");}

#content { min-width:645px;}

#header {height:276px; min-width:645px;}

#left_side { width:379px; float:left; background:url(images/col1_bgd.jpg) no-repeat 9px 47px;}
#right_side { margin-left:379px;}

.col_1, .col_2, .col_3, .column1, .column2, .column3 { float:left;}

/*======= index.html =======*/
#page1 #content .row_1 .col_1 { width:49%; }
#page1 #content .row_1 .col_2 { width:50%; }

/*======= index-1.html =======*/
#page2 #content .row_1 .col_1 {width:100%;}

/*======= index-2.html =======*/
#page3 #content .row_1 .col_1 {width:100%;}

/*======= index-3.html =======*/
#page4 #content .row_1 .col_1 {width:100%;}

/*======= index-4.html =======*/
#page5 #content .row_1 .col_1 {width:100%;}

/*======= index-5.html =======*/
#page6 #content .row_1 .col_1 {width:100%;}



/*=========================*/


#footer {height:95px; background:url(images/footer_bgd.gif) left top repeat-x;}
